:root {
  --primary-color: #484848;
}
$primary-color: var(--primary-color);
$border-color: #e7e7e780;
.badDashSider {
  background-color: white !important;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-right: 1px solid $border-color;
  .logo {
    cursor: pointer;
    height: 80px;
    display: flex;
    border-bottom: 3px solid $border-color;
    position: relative;
    .logoImg {
      height: 65%;
      margin: auto 10px;
      margin-left: 10%;
      // filter: brightness(0) invert(1);
    }
    .btnImg {
      position: absolute;
      height: 36px;
      width: 36px;
      right: 17px;
      top: 0;
      bottom: 0;
      margin: auto;
      border: none;
      transition: all 400ms ease;
      &:hover {
        transform: scale(1.1);
        filter: brightness(0.7);
      }
    }
    &.true {
      .logoImg {
        height: 35%;
        margin: auto;
      }
      .btnImg {
        display: none;
      }
    }
  }
  .siderContents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    .group {
      height: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      position: relative;
      h5 {
        margin: 0 25px 10px 25px;
        font-size: 15px;
        color: $primary-color;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        span,
        a {
          cursor: pointer;
          color: #babbc4;
        }
      }
      .menuScroll {
        .menuList {
          display: flex;
          flex-direction: column;
          .menuItm {
            text-decoration: none;
            align-items: center;
            flex: 0 0 25%;
            margin: 0;
            cursor: pointer;
            padding: 0 40px;
            display: flex;
            opacity: 0.55;
            svg,
            img {
              margin: auto 0;
              height: 18px;
              width: 18px;
            }
            svg {
              path {
                fill: $primary-color;
              }
            }
            .circle {
              height: 12px;
              width: 18px;
            }
            h5 {
              margin: auto 0 auto 10px;
              font-size: 14px;
              line-height: 1;
              text-transform: capitalize;
              color: #1b1b1b;
              font-weight: 500;
            }
            &.active {
              opacity: 1;
              h5 {
                color: $primary-color;
                font-weight: 600;
              }
            }
            &.sticky {
              margin-top: auto;
              background: white;
              bottom: 0;
              position: sticky;
            }
            &:hover {
              opacity: 1;
              background: whitesmoke;
            }
            &.bottom {
              margin-top: auto;
              position: sticky;
              bottom: 0;
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 25px;
        right: 25px;
        height: 2px;
        background-color: $border-color;
      }
      &:last-child {
        &::before {
          content: none;
        }
      }
    }
    .profileLogout {
      display: flex;
      padding: 12px 0;
      margin: 0 20px;
      .dp {
        height: 40px;
        width: 40px;
        border-radius: 25px;
        border: 1px $border-color solid;
        margin: auto 0;
      }
      .name {
        padding: 0 15px;
        margin: auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        h4 {
          margin: 0;
          color: $primary-color;
          line-height: 1;
          font-size: 16px;
        }
        .logout {
          margin: 0;
          color: $primary-color !important;
          line-height: 1;
          font-size: 11px;
          font-weight: normal;
          opacity: 0.8;
        }
        .msg {
          cursor: pointer;
          position: relative;
          height: 24px;
          width: 24px;
          svg {
            height: 100%;
            width: 100%;
            path {
              fill: $primary-color;
            }
          }
          &:hover {
            filter: drop-shadow(0 0 0.5rem $primary-color);
          }
        }
      }
    }
    &.true {
      .group {
        h5 {
          display: none;
        }
        .menuScroll {
          .menuList {
            .menuItm {
              padding: 0;
              justify-content: center;
              align-items: center;
              h5 {
                display: none;
              }
              svg,
              img {
                margin: auto;
                transform: scale(1.3);
              }
            }
          }
        }
        &::before {
          content: '';
          left: 0;
          right: 0;
        }
      }

      .profileLogout {
        display: flex;
        margin: 0 auto;
        .dp {
          display: none;
        }
        .name {
          .nameIn {
            display: none;
          }
          .msg {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
  &.true {
    width: 80px;
  }
}
